* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /*height: 100%;*/
    /* equal to footer height */
    margin-bottom: -150px;
}
.page-wrap:after {
    content: "";
    display: block;
}

.footer, .page-wrap:after {
    height: 150px;
}

header {
    width: 50%;
    margin: 0 auto;
}
header h1 {
    padding: 1em;
    border: 2px solid #1F2529;
    text-align: center;

}

.poke-box{
    height: 300px;
    text-align:center;
}
.poke-badge {
    padding: 7px 12px;
    margin-left: .5em;
    margin-top: .5em;
}
.poke-img {
    height: 150px;
    margin-bottom: 0;
}

.poke-box h3 {
    text-align: center;
}

.poke-box ul {
    margin-bottom: 1em;
}

.info-box {
    width: 263px;
}

.info-box img {
    display: block;
    margin: 0 auto;
}

.info-box h4 {
    text-align: center;
}

.info-box-sticky {
    position: fixed;
    top: 0;
    z-index:100;
}


.footer {
    position: relative;
    color: rgb(206, 206, 207);

}
footer p {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-weight:300;
}