<div class="row">
    <div class="col-sm-6 col-md-9">
        <div class="row">
            <poke-box pokemons="mainCtrl.pokemons"></poke-box>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
            <info-box ng-if="mainCtrl.pokemon" types="mainCtrl.pokemon.types" pokemon="mainCtrl.pokemon"></info-box>
    </div>

</div>

<div class="row">
    <div class="col-sm-6 col-md-9 text-center">

        <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-change="findPage()"
                        ng-model="currentPage" max-size="maxSize"
                        class="pagination"
                        boundary-links="true" force-ellipses="true"></uib-pagination>
    </div>
</div>
